
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 20px;
    color: #333;
    background: #fff;
  }
  
  .footer-logo {
    height: 28px;
    margin-left: 60px;
  }
  
  .footer-text {
    padding: 60px;
    font-size: 0.75em;
  }
  
  .pipe-footer {
    display: inline-block;
    height: 2em;
    margin: 0 5px;
    border-left: 1px solid black;
  }
