.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-center-home {
  display: flex;
  max-width: 800px;
  max-height: 350px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.image-planet-home {
  width: 400px;
  height: 350px;
}

.planet-section {
  position: relative;
}

.nave-image {
  position: absolute;
  bottom: -130px;
  left: -120px;
  width: 420px;
  height: auto;
}

.search-box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.search-input {
  width: '100%'; 
  height: '100%'; 
  color: '#7D7D7D'; 
  font-size: 14; 
  font-weight: '400';
  word-wrap: 'break-word';
}

.search-input::placeholder {
  text-align: center;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 10px;
  margin-top: 10px;
  color: #FFFFFF;
  background-color: red;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  filter: brightness(0.9);
}

.text-box-search {
  color: #FFFFFF;
  font-size: 1.3rem;
  text-align: center;  
}

.text-box-search {
  margin-left: 10px;
}

.error-message {
  margin-top: -1px;
  color: red;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.loading {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.text-filter {
  color: white;
  font-size: 14;
}

.container-text-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
  margin: 15px 5px;
}

.rotated-icon {
  transform: rotate(270deg);
}

.padding-text {
  padding-right: 4px;
}